 <div class="outer">
  <div class="nav-fixed">
    <nav class="nav">
      <div class="container-fluid px-5 mx-5 bar">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Material Landing</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/">Projects</a></li>
          <li><a href="/">Pricing</a></li>
          <li><a href="/login">login</a></li>
          <li><a href="/register">register</a></li>
          <a class="waves-effect waves-light btn blue">Download</a>
        </ul>
      </div>
      </div>
    </nav>
  </div>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="">About</a></li>
      <li><a href="/">Projects</a></li>
      <li><a href="/">Pricing</a></li>
      <li><a href="/">Team</a></li>
      <li><a href="/">Contact</a></li>
      <a class="waves-effect waves-light btn blue">Download</a>
    </ul>
  <div class="header">
    
      <!-- <div class="container-fluid text-white px-5 my-auto">
        <h3 class="font-weight-bold mt-0 pt-0">Your Success is Our <br> Mission.</h3>
        <p class="pl-2 font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi <br>fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi <br>non animi ea dolor molestiae iste. </p>
           <div class="buttons my-4">
             <button class="bt1 waves-effect waves-light btn">view demo</button>
             <button class="mx-2 bt2 waves-effect waves-light btn">learn more</button>
           </div>
      </div> -->
    <div class="container-fluid text-white d-flex align-items-center flex-column px-5" style="padding:13rem">
      <div class="mx-4 pl-5">
     <h3 class="font-weight-bold">Your Success is Our <br> Mission.</h3>
     <p class="pl-2 font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi <br>fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi <br>non animi ea dolor molestiae iste. </p>
        <div class="buttons my-4">
          <button class="bt1 waves-effect waves-light btn">view demo</button>
          <button class="mx-2 bt2 waves-effect waves-light btn">learn more</button>
        </div>
     </div>
    </div>
  </div> 
</div>